/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: "wght" var(--weigth-text, 400);
  font-size: 18px;
  color: var(--accent-color);
  background-color: var(--bckgrnd-color, #fff);
  background-image: var(--bckgrnd-img);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: clamp(23.438rem, 16.3739rem + 30.1401vw, 43.5rem);
  margin: 0 auto;
}

.header {
  background-color: var(--bckgrnd-color);
  inline-size: calc(100% + 4px);
  border: 2px solid var(--accent-color);
  margin-block-start: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 100px;
}

.logo {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  margin-block-start: 136px;
}

.header-title {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-start: 20px;
}

.theme-menu__list {
  font-size: 14px;
  margin-block-start: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline-start: 17px;
  margin-block-end: 21px;
}

.theme-menu__button {
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--accent-font);
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  animation: menu-arrow 500ms infinite ease-in-out alternate;
  left: -15px;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 0%;
  block-size: 2px;
  background-color: var(--accent-color);
  transition: inline-size 0.3s ease;
  inset-block-start: 15px;
  inset-inline-start: 5px;
}

.theme-menu__button:focus-visible::after {
  inline-size: 90%;
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--bckgrnd-color);
  inline-size: calc(100% + 4px);
  border: 2px solid var(--accent-color);
  position: relative;
}

.card-title {
  font-size: 18px;
  font-weight: var(--weight-title);
  font-variation-settings: "wght" var(--weight-title);
  font-style: normal;
  line-height: normal;
  padding: 5px 10px;
}

.img-container {
  block-size: 700px;
}

.card__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.card__label {
  position: absolute;
  top: 60px;
  right: 23px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--weight-text);
  text-transform: uppercase;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--bckgrnd-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bckgrnd-color)) or
    (-webkit-text-stroke: var(--bckgrnd-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--bckgrnd-color);
    text-stroke: 1px var(--bckgrnd-color);
    text-shadow: none;
  }
}

.card__text {
  margin: 25px;
}

.card__icons-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-block-start: 25px;
  margin-block-end: 23px;
}

.card__icon-button {
  background-color: transparent;
}

.card__like-button {
  border: 2px solid currentColor;
  inline-size: 130px;
  block-size: 38px;
  display: grid;
  place-items: center;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  position: relative;
  transition: box-shadow 0.3s ease;
  background-color: transparent;
  margin-inline-end: 25px;
}

.card__like-button::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-color);
  display: block;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--btn-like-color);
  z-index: 1;
}

.footer__save-btn {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  width: 340px;
  height: 55px;
  border: 2px solid currentColor;
  background-color: var(--bckgrnd-color);
  font-family: var(--accent-font);
  font-size: 14px;
}

.footer__save-btn .btn-floppy {
  inline-size: 39px;
  block-size: 39px;
}

.footer {
  margin-block-end: 105px;
  position: relative;
}

.btn-floppy {
  margin-inline-start: 15px;
  margin-block-start: 14px;
}

.footer__btn-text {
  margin-top: -2px;
  margin-inline-start: -15px;
}


.btn_decoration::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-color);
  display: block;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.btn_decoration:hover::before{
  transform: scaleX(1);
}

.btn_decoration:focus {
  outline: none;
}

.btn_decoration:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.dialog {
  position: fixed;
  overflow: hidden;
  border-width: 0;
  background: var(--modal-color);
  block-size: 100vb;
  inline-size: 100vi;
  inset: 0;
  max-block-size: 100vb;
  max-inline-size: 100vi;
}

.modal {
  position: sticky;
  border: 0.2rem solid var(--themes-main-color);
  margin: 0 auto;
  background-color: var(--themes-background, #fff);
  font-family: var(--font-pressstart2p, "Courier New", fantasy);
  inset-block-start: calc(50vb - (5.3rem / 2));
}

   