/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: "wght" var(--weigth-text, 400);
  font-size: 18px;
  color: var(--accent-color);
  background-color: var(--bckgrnd-color);
  background-image: var(--bckgrnd-img);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: clamp(23.438rem, 16.3739rem + 30.1401vw, 43.5rem);
  margin: 0 auto;
}

.header {
  background-color: var(--bckgrnd-color);
  /* inline-size: calc(100% + 4px); */
  border: 2px solid var(--accent-color);
  margin-block-start: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 100px;
}

.logo {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  padding-block-start: 136px;
}

.header-title {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  margin-block-start: 20px;
}

.theme-menu__list {
  font-size: 14px;
  margin-block-start: 25px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-inline-start: 17px;
  margin-block-end: 21px;
}

.theme-menu__button {
  border: none;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--accent-font);
  text-transform: uppercase;
  transition: opacity 0.3s ease;
  position: relative;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled:before {
  content: "▶";
  position: absolute;
  animation: menu-arrow 500ms infinite ease-in-out alternate;
  left: -15px;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 0%;
  block-size: 2px;
  background-color: var(--accent-color);
  transition: inline-size 0.3s ease;
  inset-block-start: 15px;
  inset-inline-start: 5px;
}

.theme-menu__button:focus-visible::after {
  inline-size: 90%;
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--bckgrnd-color);
  /* inline-size: calc(100% + 4px); */
  border: 2px solid var(--accent-color);
  position: relative;
}

.card-title {
  font-size: 18px;
  font-weight: var(--weight-title);
  font-variation-settings: "wght" var(--weight-title);
  font-style: normal;
  line-height: normal;
  padding: 5px 10px;
}

.img-container {
  max-block-size: 700px;
  border-bottom: 2px solid var(--accent-color);
  border-top: 2px solid var(--accent-color);
  border-right: 2px solid var(--accent-color);
}

.card__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;

 
}

.brightness {
  filter: brightness(150%);
}

.contrast {
  filter: contrast(50%);
}

.blur {
  filter: blur(0.1rem);
}

.opacity {
  filter: opacity(0.7);
}

.grayscale {
  filter: grayscale(0.7);
}

.saturate {
  filter: saturate(170%);
}

.hue-rotate {
  filter: hue-rotate(-90deg);
}

.sepia-brightness {
  filter: sepia(70%) brightness(200%);
}

.card__label {
  position: absolute;
  top: 60px;
  right: 23px;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: var(--weight-text);
  text-transform: uppercase;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--bckgrnd-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--bckgrnd-color)) or
    (-webkit-text-stroke: var(--bckgrnd-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--bckgrnd-color);
    text-stroke: 1px var(--bckgrnd-color);
    text-shadow: none;
  }
}

.card__text {
  margin: 25px;
 
}

.card__icons-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-block-start: 25px;
  margin-block-end: 27px;
}

.like-icon {
  padding-right: 2px;
}

.card__icon-button {
  color: var(--accent-color);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin-inline-end: 5px;
  margin-block-start: 0px;
  block-size: 36px;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  border: 2px solid currentColor;
  inline-size: 130px;
  block-size: 38px;
  display: grid;
  place-items: center;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  position: relative;
  transition: box-shadow 0.3s ease;
  background-color: transparent;
  margin-inline-end: 25px;
  cursor: pointer;
}

.card__like-button::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-color);
  display: block;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--btn-like-color);
  z-index: 1;
}

.save-block__save-btn {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  width: 340px;
  height: 55px;
  border: 2px solid currentColor;
  background-color: var(--bckgrnd-color);
  font-family: var(--accent-font);
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

.save-block__save-btn .btn-floppy {
  inline-size: 39px;
  block-size: 39px;
}

.save-block {
  margin-block-end: 105px;
}

.btn-floppy {
  margin-inline-start: 15px;
  margin-block-start: 14px;
}

.save-block__btn-text {
  margin-top: -2px;
  margin-inline-start: -15px;
}

.btn_decoration {
  transition: color 0.3s;
}

.btn_decoration:hover svg {
color: var(--bckgrnd-color);
  z-index: 2;
}

.btn_decoration::before {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-color);
  display: block;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.btn_decoration:hover::before {
  transform: scaleX(1);
  fill: #fff;
}

.btn_decoration:focus {
  outline: none;
}

.btn_decoration:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.save-block__save-btn:hover svg path {
  fill: red;
}



@media (width > 375px) {
  .page {
    min-width: 375px;
    max-width: 696px;
  }

  .modal {
    max-width: 357px;
  }
}

@media (max-width: 900px) {
  .logo {
    padding-block-start: 120px;
  }
}

@media (max-width: 375px) {
  .img-container {
    block-size: 375px;
    inline-size: 373px;
  }

  .card__text {
    inline-size: 315px;
  }

  .save-block__save-btn {
    width: 306px;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .save-block__btn-text {
    margin-block-end: 10px;
    margin-inline-start: 5px;
  }
}

.dialog {
  position: fixed;
  overflow: hidden;
  border-width: 0;
  background: var(--modal-color);
  block-size: 100vb;
  inline-size: 100vi;
  inset: 0;
  max-inline-size: 100vi;

}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.7);
}

.modal {
  position: sticky;
  border: 0.2rem solid var(--accent-color);
  background-color: var(--bckgrnd-color, #fff);
  font-family: var(--accent-font, "Courier New", fantasy);
  margin-inline: auto;
  margin-block-start: 50vh;
  transform: translateY(-70%);
}

.modal__title {
  color: var(--accent-color, #000);
  font-size: 14px;
  font-style: normal;
  line-height: 150%;
  text-transform: uppercase;
  inline-size: 62%;
}

.modal__title-wrapper {
  display: flex;
  flex-direction: column;
}

.modal__inner-container {
  display: flex;
  text-transform: uppercase;
  gap: 20px;
  justify-content: center;
  margin-block-start: 32px;
  margin-block-end: 30px;
}

.modal__svg-floppy {
  color: var(--floppy-color);
  mix-blend-mode: difference;
  inline-size: 39px;
  block-size: 39px;
  margin-block-start: 20px;
}

.modal__btn {
  background-color: var(--bckgrnd-color);
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  inline-size: 257px;
  block-size: 38px;
  padding: 9px 17px;
  position: relative;
  cursor: pointer;
}

.modal__dialog-form {
  display: flex;
  justify-content: center;
  margin-block-end: 30px;
}

.modal__btn::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  block-size: 100%;
  inline-size: 100%;
  background-color: var(--accent-color);
  display: block;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
}

.modal__btn:hover::after {
  transform: scaleX(1);
}

/* 
* {
  border: 1px solid red;
} */